In [1]:
# code for my VM:
# from selenium import webdriver
# from selenium.webdriver.chrome.options import Options
# from selenium.common.exceptions import NoSuchElementException

# options = Options()
# options.headless = True
# b = webdriver.Chrome(options=options, executable_path="chromium.chromedriver")

# for my laptop:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException

options = Options()
#options.headless = True
b = webdriver.Chrome(options=options)

In [2]:
import time
print("A")
time.sleep(3)
print("B")

A
B

In [3]:
# STEP 1: get the HTML corresponding to the hidden table
url = "https://tyler.caraza-harter.com/cs320/tricky/page1.html"
b.get(url)

def wait_for_element(element_id):
    max_seconds = 10
    for i in range(max_seconds*10):
        time.sleep(0.1)
        try:
            elem = b.find_element_by_id(element_id)
            break
        except NoSuchElementException:
            print("not ready")

wait_for_element("coords")
print(b.page_source[:200])

not ready
not ready
not ready
not ready
not ready
not ready
not ready
not ready
<html><head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
      function addTable() {
        var html = "<table border=1 id='coords'>\n";
        html += "<tr><td>

In [4]:
# step 2: use that HTML
from bs4 import BeautifulSoup

page = BeautifulSoup(b.page_source, "html.parser")
type(page)

bs4.BeautifulSoup

In [5]:
# bs methods: .find(), .find_all(), .get_text()
tbls = page.find_all("table")
assert len(tbls) == 2

In [6]:
tbl = tbls[-1]
len(tbl.find_all("tr")) # table row

11

In [7]:
import pandas as pd
rows = []
for tr in tbl.find_all("tr"):
    row = [cell.get_text() for cell in tr.find_all("td")]
    rows.append(row)
pd.DataFrame(rows[1:], columns=rows[0])

    x   y
0   0   1
1   2   3
2   4   5
3   6   7
4   8   9
5  10  11
6  12  13
7  14  15
8  16  17
9  18  19

# Demo 2

In [8]:
url = "https://tyler.caraza-harter.com/cs320/tricky/page2.html"
b.get(url)

In [9]:
btn = b.find_element_by_id("more")
btn

In [10]:
btn.click()

In [11]:
b.close()